body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    font-family: verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    border: solid black 0.1em;
    box-shadow: 0.1em 0.1em 0.1em grey;
    padding: 0.25em;
}

.main-section {
  padding-left: 1em;
  padding-right: 1em;
}

img {
  width: 12em;
  border: solid 3px black;
}

@media (max-width: 700px) {
   main{ font-size: 1em;}
}
